{% extends 'layout.html.twig' %}

{% block main %}

{{ form(categoryForm)}}




    <div class="bg-lightgrey p-3">
        <h1  style="text-align:center">Les produits</h1>
            <div style="text-align:right">
                <h1>Votre panier </h1>
                <a href="{{ path('cart') }}" class="btn btn-light">
                  <i class="fas fa-shopping-basket"></i>                          
                </a>
            </div>            
    </div>

    <div class="flex flex-row justify-center flex-wrap">
    {% for product in products %}

        <div class="flex flex-col justify-center items-center max-w-xs mx-20 my-8">
             <div class="bg-black-300 h-68 w-full rounded-lg bg-cover bg-center"><img src="{{product.image}}"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                    <div class="py-1 text-center text-xS font-bold uppercase tracking-wide text-black-800">{{product.title}}</div>
                        <div class="flex items-center justify-between py-2 px-3 bg-yellow-600">
                            <h1 class="text-white text-xl font-bold ">{{product.price}}€</h1>
                                <button type="submit" name="add_to_cart" class=" bg-white text-xs text-white px-1 py-1 font-semibold rounded uppercase " value="Add to Cart"><a href="{{ path('cart_add', {'id': product.id}) }}">Add to cart</a></button>
                        </div>
                </div>
        </div>
    

    {%  endfor %}
</div>
{% endblock %}
