{% extends 'layout.html.twig' %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>                
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Catégorie Id</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           {% for product in products %} 
                <tr>
                    <td>{{ product.id }}</td>                    
                    <td>{{product.name}}</td>
                    <td>{{product.price}}€</td>
                    <td>{{product.image}}</td>
                    <td>{{product.category.id}}</td>                    
                    <td><a href="{{ path('dashboard-edit', {id : reservation.id}) }}" type="button" class="btn btn-info">Modifier</a></td>
                    <td><a href="{{ path('ccproduct-delete', {id : product.id}) }}" type="button" class="btn btn-warning">Supprimer</a></td>
                   
                </tr>
            {% endfor %}
        </tbody>

    </table>


{% endblock %}